# THis is an example env file for the Helt project.
# Make a .env.local file for running this project in local development.
# You can copy .env.example to .env.local and fill in the values.

HOST=localhost
USER=root
PORT=3307
PASSWORD=root
DATABASE=helth

# Add other environment variables as needed.